# 4. 파이썬의 변수 (variable)

## 변수 (variable)

- 사전에 정해진 type 이 없고 보관되는 data type 에 따라 dynamic 하게 정해진다.  


-  변수의 이름은 문자와 숫자, \_ (underscore) 로 구성되며, 문자 (a\~z, A\~Z) 혹은 \_ (underscore) 로만 시작 가능하다.  


-  = 를 이용하여 변수에 값을 할당 한다  


-  Python 이 사용하는 33 개의 keyword 는 변수명으로 사용하면 안된다.

    False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except,finally, for, from, global, if, import, in, is, 
    lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

### 변수명

In [1]:
_one2three = 123

In [2]:
one_2_three = 123

In [3]:
one.2.three = 123

SyntaxError: invalid syntax (1473849026.py, line 1)

In [4]:
1_two_three = 123

SyntaxError: invalid decimal literal (324618240.py, line 1)

### type() 함수는 변수의 자료형을 반환

- integer 변수

In [10]:
my_integer = 50
print(my_integer, type(my_integer))

50 <class 'int'>

In [6]:
my_integer = int(3.14)
print(my_integer, type(my_integer))

3 <class 'int'>

- float 변수

In [11]:
my_float = 50.0
print(my_float, type(my_float))

50.0 <class 'float'>

In [12]:
my_float = float(50)
print(my_float, type(my_float))

50.0 <class 'float'>

- string 변수

In [14]:
my_string = str(3.14)
print(my_string, type(my_string))

3.14 <class 'str'>

- boolean 변수

In [15]:
my_bool = True
print(my_bool, type(my_bool))

True <class 'bool'>

### 데이터 타입 변환 (Type Conversion)

- integer type 변화

In [16]:
int("123")

123

In [7]:
int(True)

1

- float type 변환

In [17]:
float("23.5")

23.5

In [18]:
float("inf")

inf

- string type 변환

In [19]:
str(123)

'123'

### eval() 함수 : expression 을 evaluate 하고 result 를 return

In [21]:
eval("1 + 2 + 3")

6

In [22]:
a = 10
b = 20
eval("a + b")

30

# 연습문제

1) 변수 x 의 값이 10 이고 변수 y 의 값이 20 인 경우 다음 문장의 수행 후 x, y 의 값은 ?

    x = y
    y = x
    print(x, y)

2) x 값이 3 이라고 할때 x ** 2 + x * x 의 값은 ?

3) 2 + 4 % 5 의 값은 ?

4) 다음 두 연산식의 결과는 ?

    5.5 - 11 / 2

    5.5 - 11 // 2
    
    5.5 - 11 % 2

5) % 를 이용한 홀수, 짝수 구분

6) 변수값의 할당

    hello = "안녕"

    world = "하세요"

    print(hello, world) 의 결과는 ?

7) 변수값의 할당

    x = 10
    y = 20

    a, b = x + 1, y + 1

    print(a,b) 의 결과는 ?

8) 원의 넓이 구하기 : 반지름이 10 인 원의 넓이를 $S = \pi r ^ 2 $ 공식을 사용하여 구한다. ($\pi = 3.14$)