# 6. 리스트(List) 와 Tuple

## 6.1 List 구조

- 일상생활에서 흔히 볼 수 있는 자료구조 (Data Structure)

        예) 할일 목록 (to-do list), 식료품 구입 리스트, 초대장 리스트, 소원목록 (wish list), 국가 목록 등.

-  List 는 top-10 list 처럼 순서가 있을 수도 있고, 친구 목록처럼 순서가 없을 수도 있음.


- List 의 항목들을 요소 (element) 라고 한다.


-  Python 문법에서 list 는 대괄호 (bracket) 로 표시하고 element 는 콤마(,) 로 구분하여 대괄호안에 위치함.


-  List 의 element 는 지금까지 배운 Python 의 모든 자료형과 함수가 사용될 수 있음.

- list 생성

In [1]:
x = ["쌀", '보리', "옥수수", '밀']

In [2]:
print(x)

['쌀', '보리', '옥수수', '밀']

- list element의 data type

In [3]:
y = [1, 'two', 6/2]

In [4]:
print(y)

[1, 'two', 3.0]

- 함수에서 list 반환

In [5]:
def f(n):
    return [n, n * 2, n * 3, n * 4]

In [6]:
print(f(3))

[3, 6, 9, 12]

In [7]:
y = f(4)

In [8]:
type(y)

list

In [9]:
f('hi')

['hi', 'hihi', 'hihihi', 'hihihihi']

- list 내부의 연산

In [10]:
a = 5
b = 3.5
x = [a, a+b, a-b]

In [11]:
print(x)

[5, 8.5, 1.5]

### list 의 주요 method

- len( ) : list 의 길이
- sort( ) : list sort
- reverse( ) : list 를 역순으로 sort
- append( ) : list 끝에 new item 추가
- extend( )  : 다른 list 추가
- pop( )  : list 의 마지막 item 제거 및 반환
- pop(i) : i 번째 item 제거 및 반환
- del alist[i] : i 번째  item delete
- count( ) : list element 의 갯수 
- index( ) : list element 의 index

-  여러개의 list 를 결합

In [12]:
c = ['z', 'y', 'w'] + ['a', 'c', 'b']
c

['z', 'y', 'w', 'a', 'c', 'b']

- list의 특정 element 추출

In [13]:
c.pop(2)

'w'

- list의 특정 element 삭제

In [14]:
del c[2]

In [15]:
c

['z', 'y', 'c', 'b']

- list 의 원소(element) 갯수

In [16]:
len(c)

4

### list 원소(element) 추가 / 확장

- list에 elment 추가

In [17]:
d = []

In [18]:
d.append('first')
d

['first']

In [19]:
d.append('second')
d

['first', 'second']

- list 확장

In [20]:
c = ['z', 'y', 'w']
c

['z', 'y', 'w']

In [21]:
d.extend(c)

In [22]:
d

['first', 'second', 'z', 'y', 'w']

### list 내의 list

In [23]:
d

['first', 'second', 'z', 'y', 'w']

In [24]:
d.append(['second, third'])
d

['first', 'second', 'z', 'y', 'w', ['second, third']]

In [25]:
animals = [['dog', 'Ruby', 7], 
           ['cat', 'Nero', 3], 
           ['dog', 'John', 5], 
           ['bird', 'Seagal', 2]]
print(animals)

[['dog', 'Ruby', 7], ['cat', 'Nero', 3], ['dog', 'John', 5], ['bird', 'Seagal', 2]]

### list element 의 변수 assign

In [26]:
[x, y, z] = 1, 2, 3
print(x, y, z)

1 2 3

In [27]:
r, s, t = [1, 2, 3]
print(r, s, t)

1 2 3

In [28]:
u = [1, 2, 3]
j, k, l = u
print(j, k, l)

1 2 3

### list methods

In [29]:
print(c)

['z', 'y', 'w']

- list 정렬

In [30]:
c.sort()

In [31]:
print(c)

['w', 'y', 'z']

- 역순으로 정렬

In [32]:
c.sort(reverse=True)
c

['z', 'y', 'w']

- 합계

In [34]:
xlist = [10, 20, 30]

In [35]:
sum(xlist)

60

- 최대값

In [36]:
max(xlist)

30

- 최소값

In [37]:
min(xlist)

10

- list를 tuple로 변경

In [38]:
tuple(xlist)

(10, 20, 30)

- 특정 element 삭제

In [39]:
del(xlist[0])
xlist

[20, 30]

- list 내의 특정 element 갯수 count

In [42]:
alist = [1,2,3,3,4,4,4,5]

alist.count(4)

3

- list 내 특정 element의 index

In [43]:
alist.index(3)

2

## 6-2. List 의 indexing

### list 를 구성하는 element 들은 위치에 따라 index 로 접근할 수 있다.
### index 는 대괄호(bracket)안에 정수(integer) 로 표시
### Python 의 index 는 0 부터 시작하는 양수 혹은 -1 부터 시작하는 음수로 표시할 수 있다.
        0   1     2     3     4    5 
    +---+---+---+---+---+---+
    |  H |  e  |  l  |   l |  o |  ! |
    +---+---+---+---+---+---+
      -6    -5    -4   -3   -2   -1

In [44]:
hello = ['H', 'e', 'l', 'l', 'o', '!']
print(len(hello))
print(hello)

6
['H', 'e', 'l', 'l', 'o', '!']

- 첫번째 element

In [45]:
hello[0]

'H'

- 6번째 element

In [46]:
hello[5]

'!'

In [47]:
hello[len(hello) - 1]

'!'

- list의 마지막 element

In [50]:
x = [1,2,3] + ['a','b','c']
print(x)

[1, 2, 3, 'a', 'b', 'c']

In [51]:
x[len(x)-1]

'c'

In [52]:
x[-1]

'c'

- list의 특정 element update

In [54]:
x[3] = 4

print(x)

[1, 2, 3, 4, 'b', 'c']

In [55]:
x[4] = 5
x

[1, 2, 3, 4, 5, 'c']

In [56]:
x[0] = 'first'
x[-1] = 'last'
x

['first', 2, 3, 4, 5, 'last']

- list 의 뒤에서 2번째

In [57]:
x[-2]

5

- 뒤쪽부터 indexing

In [60]:
x[-6]

'first'

- list element로 이루어진 list의 indexing

In [61]:
animals = [['dog', 'Ruby', 7], 
           ['cat', 'Nero', 3], 
           ['dog', 'John', 5], 
           ['bird', 'Seagal', 2]]

In [62]:
animals[2]

['dog', 'John', 5]

In [63]:
animals[2][2]

5

In [65]:
kind, name, age = animals[-1]

print(kind, name, age)

bird Seagal 2

## 6-3. 인덱스 (Index) 를 이용한 list 의 element 자르기 (slicing)


### list 의 일부분을 범위 지정할 수 있다.
    list[start : end]   => start ~ end-1
    list[start:]      => start ~ 끝까지
    list[:end]        => 처음 ~ end-1
    list[:]           => list 전체
    
### 증가분 (increment) 를 지정하면 더욱 다양한 slicing 이 가능하다.
    list[start : end : increment]
    
### increment 가 음수 (-) 이면 뒤에서부터 거꾸로 처리한다.

- list의 slicing

In [66]:
x = [1, 2, 3, 4, 5, 6]

In [67]:
y = x[0:2]
print(y)

[1, 2]

In [68]:
x[2:4]

[3, 4]

In [69]:
x[2:]

[3, 4, 5, 6]

In [70]:
x[:6]

[1, 2, 3, 4, 5, 6]

In [71]:
x[:]

[1, 2, 3, 4, 5, 6]

In [72]:
x[-3:]

[4, 5, 6]

In [73]:
x[2:-1]

[3, 4, 5]

In [74]:
x[-6:3]

[1, 2, 3]

- slicing with increment

In [75]:
s = [1,2,3,4,5,6,7,8,9,10]
python = ['p','y','t','h','o','n']

In [76]:
s[:: 2]

[1, 3, 5, 7, 9]

In [77]:
python[::2]

['p', 't', 'o']

In [78]:
s[5::2]

[6, 8, 10]

In [79]:
python[5::2]

['n']

In [80]:
s[5:-1:2]

[6, 8]

In [81]:
s[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
s[7:1:-1]

[8, 7, 6, 5, 4, 3]

In [84]:
s[-1:-8:-1]

[10, 9, 8, 7, 6, 5, 4]

- list 범위를 벗어난 slicing

In [86]:
t = ['a','b','c']

In [87]:
t[1:100]

['b', 'c']

In [88]:
t[-2:-1]

['b']

In [89]:
t[-100:100]

['a', 'b', 'c']

- list 범위를 벗어난 indexing

In [91]:
t[-100]

IndexError: list index out of range

In [92]:
t[5]

IndexError: list index out of range

## 6-4. 튜플 (Tuple) 

### 튜플은 element 값을 변경할 수 없는 list 이다.

- Mutable : 값을 변경 가능 (list, variable)

- Immutable : 값을 변경 불가능 (tuple)  


- **변경할 수 없으므로 list 보다 memory 사용이 효율적**

### Tuple 은 괄호 (  ) 로 element 들을 감싸준다.

### element 를 변경할 수 없는 것 이외의 operation 은 list 와 거의 유사함.

### Tuple 과 List 비교

In [103]:
xlist = [1, 2, 3, 4]
ytuple = (1, 2, 3, 4)

- slicing 비교

In [104]:
xlist[1:4]

[2, 3, 4]

In [105]:
ytuple[1:4]

(2, 3, 4)

- tuple 의 마지막 element

In [106]:
ytuple[-1]

4

- element 추가

In [107]:
xlist.append(6)
x

[1, 2, 3, 4, 5, 6]

In [108]:
ytuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

- element 변경

In [109]:
xlist[3] = '4th'
xlist

[1, 2, 3, '4th', 6]

In [110]:
ytuple[3] = '4th'

TypeError: 'tuple' object does not support item assignment

- 변수에 element 할당

In [114]:
(x, y) = (1, 'two')

print(x, y)

1 two

In [115]:
(x, y) = [1, 'two']

print(x, y)

1 two

In [116]:
[x, y] = [1, 'two']

print(x, y)

1 two

- tuple이 element인 tuple의 indexing $\rightarrow$ list 와 동일

In [117]:
animals_tuple = (('dog', 'Ruby', 7), 
                 ('cat', 'Nero', 3), 
                 ('dog', 'John', 5), 
                 ('bird', 'Seagal', 2))

In [118]:
animals_tuple[1][0]

'cat'

In [119]:
animals_tuple[-1][2]

2

### 원소가 한개 (single element) 인 Tuple
- comma(,) 로 tuple 임을 표시

In [120]:
t1 = ('a',)
type(t1)

tuple

### 여러개의 Tuple 을 하나로 merge

- 기존의 tuple 을 변경하는 것이 아니고 새로운 tuple 을 생성

In [121]:
z = ('a','b')

In [122]:
new_tuple = ytuple + z
new_tuple

(1, 2, 3, 4, 'a', 'b')

### Tuple 생성

- 변수에 여러개의 element assign

In [123]:
t = 1, "two", 3+4

In [124]:
t

(1, 'two', 7)

In [125]:
type(t)

tuple

In [132]:
my_tuple = 'cat', 'dog', 'apple'
type(my_tuple)

tuple

In [135]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

- tuple method를 이용한 tuple 생성

In [129]:
t = tuple('abcde')
t

('a', 'b', 'c', 'd', 'e')

In [130]:
t = tuple(['a', 'b', 'c', 'd', 'e'])
t

('a', 'b', 'c', 'd', 'e')

### Tuple indexing

In [ ]:
print(my_tuple[-1])
print(my_tuple[-2])

In [ ]:
my_tuple[-1] = 'banana'

### Tuple 정렬 (sort)

In [ ]:
new_tuple = my_tuple + ('banaba',)

In [ ]:
new_tuple

In [ ]:
new_tuple.sort()

In [ ]:
sorted(new_tuple)

In [ ]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]

sorted(student_tuples, 
       key=lambda student: student[2])   # sort by age

In [ ]:
sorted(student_tuples, 
       key=lambda student: student[2], reverse=True)

### Tuple 의 크기 비교 

- 왼쪽 element 부터 비교

In [136]:
(0, 8, 9) < (1, 2, 3)

True

In [137]:
(0, 8, 9) < (0, 2, 3)

False

In [138]:
('a', 'b') < ('abc', 'ab')

True

## zip

- zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [139]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [144]:
list(zip([1, 2, 3], [4, 5, 6], (7, 8, 9)))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [145]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [146]:
fruits = ['apple', 'orange', 'pear', 'grape']
prices = [100, 200, 150, 50]

for f, p in zip(fruits, prices):
    print(f, p)

apple 100
orange 200
pear 150
grape 50

## List / Tuple 연습문제

1) 다음 프로그램의 결과값은 ?

    xlist = []
    xlist.append('Good')
    xlist.append('Morning')
    print(xlist)
    
    xlist.append([3, 4])
    print(xlist)

2) 다음 list 의 element 를 오름차순으로 정렬 (ascending sort) 한다. 또한, 내림차순 (descending order)으로 정렬한다. sort(), sort(reverse=True) 함수를 사용한다.
    
    xlist = [2, 1, 3, 5, 4]

3) 두개의 list element 들을 짝을 지워 출력  

stocks = ['삼성전자', '대한항공', 'google', 'apple']  
close = [40000, 2000, 50000, 100000]