# 9. 딕셔너리 (Dictionary) 자료형

#### dictionary 는 key-value 쌍으로 이루어진 data type 이다.

#### dictionary 는 { } 내에 key: value 로 표시한다.

#### list, tuple 의 elemtent 들은 indexing 에 의해 접근하지만 , dictionary 는 key 값으로 접근한다.

    dictionary = {key: value, key: value...}
    
<img src="./images/dict1.png" width="500">

## 9.1 Dictionary basics

- dictionary 생성

In [1]:
d = {'a': 1, 'b': 2, 'c': 3}
d

{'a': 1, 'b': 2, 'c': 3}

In [2]:
type(d)

dict

- dict 내장 함수를 이용한 dictionary 생성

In [1]:
d = dict([('a', 1), ('b', 2), ('c', 3)])
d

{'a': 1, 'b': 2, 'c': 3}

- dictionary 값(value) 접근

In [2]:
d['b'] + d['c']

5

In [3]:
my_info = {'name': 'Kim', 'age': 25, 'height': 175, 
           'home': 'Seoul'}

if my_info['age'] < 30 and my_info['height'] > 170:
    print("My name is " + my_info['name'] +
            ' and I live in ' + my_info['home'] + '.')

My name is Kim and I live in Seoul.

- Dictionary 값 update

In [6]:
my_info['name'] = 'Jane'
my_info['home'] = 'New York'

In [7]:
if my_info['age'] < 30 and my_info['height'] > 170:
    print("My name is " + my_info['name'] + 
            ' and I live in ' + my_info['home'] + '.')

My name is Jane and I live in New York.

- dictionary element 삭제

In [8]:
my_info.pop('age')

25

In [9]:
my_info

{'name': 'Jane', 'height': 175, 'home': 'New York'}

In [10]:
del my_info['age']

KeyError: 'age'

In [11]:
del my_info['home']

In [12]:
my_info

{'name': 'Jane', 'height': 175}

### dictionary 와 for-loop

In [11]:
age_info = {'Kim': 50, 'Lee': 20, 'Park': 15, 'Choi': 45}

In [12]:
for key in age_info:
    if key == 'Kim':
        print(key, age_info[key])

Kim 50

- keys() method

In [18]:
for key in age_info.keys():
    print(key)

Kim
Lee
Park
Choi

In [19]:
for key in age_info.keys():
    print(age_info[key])

50
20
15
45

In [20]:
for key in age_info.keys():
    print(key, age_info[key])

Kim 50
Lee 20
Park 15
Choi 45

- values() method

In [15]:
for value in age_info.values():
    print(value)

50
20
15
45

- items() method

In [16]:
for key, value in age_info.items():
    print(key, value)

Kim 50
Lee 20
Park 15
Choi 45

In [22]:
for key, value in age_info.items():
    print(key, '\t\t', value)

Kim 		 50
Lee 		 20
Park 		 15
Choi 		 45

### dictionary 정렬

- key 순으로 정렬

In [23]:
d = {'c': 1, 'a': 2, 'b': 3}
sorted(d)

['a', 'b', 'c']

In [24]:
for key in sorted(d):
    print(key, '\t', d[key])

a 	 2
b 	 3
c 	 1

- value 순으로 정렬  
- without lambda

In [25]:
tmp = list()

for k, v in d.items():
    tmp.append((v, k))
    
tmp.sort()
tmp

[(1, 'c'), (2, 'a'), (3, 'b')]

- with lambda

In [26]:
sorted(d.items(), key=lambda kv: kv[1])

[('c', 1), ('a', 2), ('b', 3)]

### dictionary 에 key 존재 유무 check

In [27]:
d = {'a': 1, 'b': 2, 'c': 3}
'a' in d

True

In [28]:
'd' in d

False

### dictionary 를 이용한 list 의 중복 element count

In [29]:
def word_count_dict(word_list):
    word_count = {}
    for word in word_list:
        word = word.lower()
        if not word in word_count:
            word_count[word] = 1
        else:
            word_count[word] += 1
    return word_count

In [30]:
word_list = ['test', 'Test', 'apple', 'Apple', 
             'orange', 'dog', 'caT', 'CAT']

words_cnt = word_count_dict(word_list)

In [31]:
words_cnt

{'test': 2, 'apple': 2, 'orange': 1, 'dog': 1, 'cat': 2}

In [32]:
for k, v in words_cnt.items():
    print(k, v)

test 2
apple 2
orange 1
dog 1
cat 2

- get(key, default value) method 를 이용하여 위의 예제를 단순화

In [33]:
def word_count_simple(word_list):
    word_count = {}
    for word in word_list:
        word = word.lower()
        word_count[word] = word_count.get(word, 0) + 1
    return word_count

word_list = ['test', 'Test', 'apple', 'Apple', 'orange', 
             'dog', 'caT', 'CAT']

word_count_simple(word_list)

{'test': 2, 'apple': 2, 'orange': 1, 'dog': 1, 'cat': 2}

### 연습문제

1) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d):
        print(d[x], end="")

2) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d.values()):
        print(x, end="")

3) 다음의 출력 결과는 ?

    d = {'a': 21, 'b': 4, 'c': 9}
    for x in sorted(d.items()):
        print(x, end="")

4) dictionary 를 이용하여 자신의 정보를 구조화 하여 작성  

        ex) {'name': '오영제', 
              '성별': '남성', 
              '거주지': {'도시': '서울', '동': '충무로', '주소': '123-45'}, 
              '전화번호': 1012345678, 
              '신장': 175.17}

5) 두개의 주사위를 던져서 두 주사위의 합이 같은 것끼리 출력하라. 두 주사위의 합을 key value 로 사용하여 dictionay 를 생성한다.

- pseudo-code

```
    d = {}
    
    Loop with 주사위1 from 1 to 6
        Loop with 주사위2 from 1 to 6
            newTuple = (주사위1, 주사위2)
            added = 주사위1 + 주사위2
            if added 가 d 에 없으면 empty list 를 d 에 추가
            d 의 기존 list 에 append
```

In [7]:
import pprint
d = {}

for dice1 in range(1, 7):
    for dice2 in range(1, 7):
        
       #Your code here

pprint.pprint(d)

{2: [(1, 1)],
 3: [(1, 2), (2, 1)],
 4: [(1, 3), (2, 2), (3, 1)],
 5: [(1, 4), (2, 3), (3, 2), (4, 1)],
 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)],
 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)],
 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)],
 9: [(3, 6), (4, 5), (5, 4), (6, 3)],
 10: [(4, 6), (5, 5), (6, 4)],
 11: [(5, 6), (6, 5)],
 12: [(6, 6)]}