# 24. Database 와 SQL(Structured Query Language, 구조화 질의어) 사용하기

- ``emailbox-short.txt`` FILE 을 이용하여 sqlite db 생성  


- basic ``CRUD`` (Create, Retrieve, Update, Delete) operation 을 Python 과 SQL 을 이용하여 수행

<p style="text-align: center;">Relational Database 구조 (schema)</p>

<img src="https://objectivity.com/wp-content/uploads/schema1.png" width="600"/>

## 기본 SQL 문법

### 테이블 생성 (CREATE)

- CREATE TABLE 테이블명 (필드명 자료형, ...)

### 데이터조회하기 (SELECT)

- SELECT * FROM 테이블명
- SELECT 열명1, 열명2 FROM 테이블명

### 테이블 구조 참조하기 (DESC)

- DESC 테이블명

### 검색 조건 지정하기 (WHERE)

- SELECT 열1, 열2 FROM 테이블명 WHERE 조건식

### 레코드 추가(INSERT)

- INSERT INTO 테이블명(필드명, ...)  VALUES (값, ...)

### 레코드 삭제(DELETE)

- DELETE FROM 테이블명 WHERE 조건

### 데이터 변경(UPDATE)

- UPDATE 테이블명 SET (필드명=값, ...) WHERE 조건

## db 연결 및 cursor 생성

### connection methods

- connect( ) 를 이용하여 SQLite database 와의 connection object 생성


- cursor( ) - 이 connection 을 이용한 cursor object 를 반환. cursor 는 수행할 SQL 문의 단위가 된다.


- commit( ) - database 에 transaction 반영 


- rollback( ) - transaction 의 starting point 로 되돌아감 


- close( ) - database 와의 연결을 종료

### cursor methods

- execute( ) - string 으로 sql 문장 수행 


- executemany( ) - tuple 의 list 로 여러개 sql 일괄 수행


- fetchone( ) - query result set 에서 다음 row 를 fetch  


- fetchall( ) - query result set 의 나머지 row 를 모두 fetch

### sqlite 연결

In [1]:
import sqlite3
con = sqlite3.connect('emaildb.sqlite')
cur = con.cursor()

### Table 생성

| column | type | 
|:---:|:---:|
| email | TEXT | 
| count  | INTEGER |

In [2]:
try:        
    cur.execute("DROP TABLE IF EXISTS Counts")
    cur.execute("CREATE TABLE Counts (email TEXT, count INTEGER)")
    print ('table created successfully')
except Exception as e:
    print ('error in operation, ', e)
    con.rollback()
    con.close()

table created successfully

- `From: ` 으로 시작하는 record 에서 email id 를 추출하여 db 에 건수 누적 

- SQL 문에서 `?` 는 placeholder 를 의미. 여러개가 올 수 있으므로 tuple 로 mapping 시킨다

In [3]:
fname = 'emailbox-short.txt'
fh = open(fname)

for line in fh:
    if not line.startswith('From: '):
        continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ?', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('INSERT INTO Counts (email, count) VALUES (?, 1)', 
                        (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?', 
                        (email,))
        
    con.commit()

### 입력된 data 확인

- 한개의 data fetch

In [4]:
cur.execute('SELECT email, count FROM Counts')
cur.fetchone()

('stephen.marquard@uct.ac.za', 2)

In [5]:
cur.fetchone()

('louis@media.berkeley.edu', 3)

- 전체 data fetch

In [6]:
cur.execute('SELECT email, count FROM Counts')
cur.fetchall()

[('stephen.marquard@uct.ac.za', 2),
 ('louis@media.berkeley.edu', 3),
 ('zqian@umich.edu', 4),
 ('rjlowe@iupui.edu', 2),
 ('cwen@iupui.edu', 5),
 ('gsilver@umich.edu', 3),
 ('wagnermr@iupui.edu', 1),
 ('antranig@caret.cam.ac.uk', 1),
 ('gopal.ramasammycook@gmail.com', 1),
 ('david.horwitz@uct.ac.za', 4),
 ('ray@media.berkeley.edu', 1)]

- 10 개의 record를 내림 차순으로 정렬하여 조회

In [7]:
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(row[0], row[1])

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

- 한개의 record 입력

In [8]:
sql = 'INSERT INTO Counts (email, count) VALUES (?, ?);'

In [9]:
emails=[('test1@test.com', 100), 
             ('test2@test.com', 200), 
             ('test3@test.com', 300)]

cur.executemany(sql, emails)

- 입력한 record 확인

In [10]:
cur.execute('SELECT email, count FROM Counts')
cur.fetchall()

[('stephen.marquard@uct.ac.za', 2),
 ('louis@media.berkeley.edu', 3),
 ('zqian@umich.edu', 4),
 ('rjlowe@iupui.edu', 2),
 ('cwen@iupui.edu', 5),
 ('gsilver@umich.edu', 3),
 ('wagnermr@iupui.edu', 1),
 ('antranig@caret.cam.ac.uk', 1),
 ('gopal.ramasammycook@gmail.com', 1),
 ('david.horwitz@uct.ac.za', 4),
 ('ray@media.berkeley.edu', 1),
 ('test1@test.com', 100),
 ('test2@test.com', 200),
 ('test3@test.com', 300)]

## 연습문제

- 다음 table 을 database 로 생성  

- executemany( ) 를 이용하여 A1~A3 까지의 data 를 일괄 insert

- 전체를 조회  

- A4 를 추가로 insert  

- A3 의 나이를 59 로 변경  

- A1 을 삭제  

- 전체를 조회


|학생번호| 성명 |나이 |성적|
|:------:|:-----:|---|----|
|A1|홍길동|20|70|
|A2|유병길|16|80|
|A3|김길수|29|90|
|A4|박재만|25|86|

| column | type | 
|:---:|:---:|
| StudentID| CHAR(2) | 
| name | TEXT(20) |  
| age| INTEGER | 
|  marks |REAL |