# 10. 스트링 (String) 

## 10-1. 스트링 (String) 자료형과 string 함수

### Python 의 string 자료형은 text 형태의 문자열을 말함.
### 문자열은 " " , ' '  혹은 """ """ 로 둘러싸인 문자들의 집합임.
    "Life is short"
    'a'
    "123"
    """String is Python's text type."""
### string 자료는 수정할 수 없음 (immutable)

* 수정할 수 있는 자료형 (mutable)  
    list
    
* 수정할 수 없는 자료형 (immutable)  
    string, tuple
    
### string 간의 +, * 연산이 가능

### str( ) 내장함수로 string type을 변환

### string 은 iterable 한 특성을 가지므로 list 와 같이 for-loop, len( ), indexing, slicing이 가능

### string 과 list 비교

In [1]:
xlist = ['g','o','o','d']
xlist[1] = 'x'

In [2]:
xlist

['g', 'x', 'o', 'd']

- string은 immutable

In [3]:
s1 = 'good'
s1[1] = 'x'

TypeError: 'str' object does not support item assignment

### string operation

- concatenate

In [12]:
s2 = "Good" + " morning"
print(s2)

Good morning

- string 반복

In [5]:
s3 = "good" * 3
print(s3)

goodgoodgood

- string과 integer 를 concatenate

In [4]:
s4 = "Number" + 3

TypeError: can only concatenate str (not "int") to str

In [5]:
s4 = "Number" + str(3)
s4

'Number3'

- string의 indexing

In [6]:
s5 = "Python is powerful"
print(s5[0], s5[-1], s5[:3])

P l Pyt

### slicing

In [7]:
s5[-1:-4:-1]

'luf'

In [8]:
s5[::-1]

'lufrewop si nohtyP'

In [9]:
len(s5)

18

### string and for-loop

In [10]:
for ch in s5:
    print(ch, end="")

Python is powerful

### string 내 문자값 비교

In [16]:
my_string = "aeiou"

if "a" in my_string and "u" in my_string:
    print("Both conditions are True")

Both conditions are True

## 10-2. Escape Sequence 

### "\\" 로 시작하며 "\\"에 뒤따르는 문자에 특별한 의미를 부여하기 위해 사용
    예) \n : new line
       \\  : backslash ('\')
       \', \" : 따옴표 (quotation mark)
       \t  : tap

- 줄바꿈

In [18]:
print("First Line \nSecond Line")

First Line
Second Line

In [19]:
print("Seoul-Busan \\non-stop")

Seoul-Busan \non-stop

- 쌍따옴표 내의 특수 문자 표시

In [21]:
print('He\'s my firend')

He's my firend

In [22]:
print("He's my friend")

He's my friend

In [23]:
print("She said \"I love him.\"")

She said "I love him."

In [24]:
print("tap character \tmakes spaces")

tap character 	makes spaces

In [25]:
print("tap character \t\tmakes spaces")

tap character 		makes spaces

- docstring 내의 특수 문자 표시

In [26]:
s1 = """I didn't know what was "it"."""
print(s1)

I didn't know what was "it".

In [27]:
s = """I was bo\nrn in Seoul and I liv\ted in Seoul."""
print(s)

I was bo
rn in Seoul and I liv	ed in Seoul.

- escape sequence 의 길이는 1

In [28]:
x = 'a\nb'
y = 'a\tb'
print(x)
print(y)
len(x), len(y)

a
b
a	b

(3, 3)

### 연습문제

1) parameter 로 받은 string 의 양 끝단 2 글자를 붙여서 반환하는 함수 작성
- string 의 slicing 및 concatenation 이용
```Python
    def both_ends(s):
        if len(s) < 2:
            return ''
        first2 = s[:?]
        last2 = s[?:]
        return first2 + last2

    print(both_ends('spring'))  #spng 반환
    print(both_ends('Hello'))    #Helo 반환
```

2) 두개의 문자열을 parameter 로 받아 서로의 첫번째 두 글자를 교환한 후 중간에 한칸 띄우고 반환하는 함수 작성

```python
    def mix_up(a, b):
        a_swapped = b[:?] + a[?:]
        b_swapped = a[:?] + b[?:]
        return ? + ' ' + ?

    print(mix_up('frog', 'dinner'))   # diog frnner 반환
```

3) 두개의 parameter 를 받아서 두개의 시작이 같으면 SAME 다르면 Different 를 반환하는 함수 작성
```python
    test('a', 'a')     # SAME  반환
    test('aba', 'cba')   # Different 반환
```

4) 다음의 string에서 slicing을 이용하여 `500`이라는 문자열을 출력하라.
```
stock_index = SP500
```