# 12. 조건문 

## 12-1. 조건문 (if statement) 과 Boolean 자료형

### boolean 자료형 :  True, False, bool( )

### 조건이 참(True) 인 경우만 명령 수행

### 문법 :
```    
    if <test 문>:
        <body1>
    elif <test 문>:
        <body2>
    else:
        <body3>
```        
### Python 의 False 와 True 

    False : empty string(""), None, [], (), 0, False
    True  : 그 외의 모든 value

In [1]:
if True:
    print("Test passed")

Test passed

In [2]:
if False:
    print("Test failed")

- if, elif, else

In [3]:
i = 3
if i == 1:
    print('i = 1')
elif i == 2:
    print('i = 2')
elif i == 3:
    print('i = 3')
else:
    print('i > 3')

i = 3

- if block 내의 if block

In [4]:
i = 10
if i % 2 == 0:
    if i % 3 == 0:
        print('i 는 2 와 3 의 배수')
    if i % 5 == 0:
        print('i 는 2 와 5 의 배수')
    else:
        print('i 는 2 의 배수이지만 3 이나 5 의 배수는 아님')
else:
    print('i 는 홀수임')

i 는 2 와 5 의 배수

- bool type 변수

In [5]:
bb = True
type(bb)

bool

In [6]:
if bb:
    print("True")

True

- 0 는 False 로 간주

In [7]:
x = 0; y = 0.0; z = 0 + 0j
bool(x), bool(y), bool(z)

(False, False, False)

- 0 외의 모든 값은 True로 간주

In [7]:
x = -1; y = 1.e-10; z = 0 + 1j
bool(x), bool(y), bool(z)

(True, True, True)

- False로 간주되는 Python values

In [8]:
u = False; v = 0; w = ''; x = []; y = (); z = None        # None : No Value
bool(u), bool(v), bool(w), bool(x), bool(y), bool(z)

(False, False, False, False, False, False)

- True로 간주되는 Python values

In [9]:
u = True; v = 1; w = ' '; x = [0]; y = (0,0); z = "0"
bool(u), bool(v), bool(w), bool(x), bool(y), bool(z)

(True, True, True, True, True, True)

In [10]:
items = ["", None, [], 0, False, " ", [""], (), 1.5, (0, 0)]
true  = [] 
false = []
for item in items:
    if item:
        true.append(item)
    else:
        false.append(item)
print("true  =", true)
print("false =", false)

true  = [' ', [''], 1.5, (0, 0)]
false = ['', None, [], 0, False, ()]

## 12-2. 비교 (Comparison)

### 비교연산자 8 가지 :

    x <  y 
    x <= y
    x == y   (두 변수의 value 가 같은지 비교) 
    x >= y
    x >  y
    x != y
    x in y
    x is y     (두 object 가 동일한지 비교)

- object 비교

In [11]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b)
print(a is b)

True
False

- 비교문

In [12]:
a = 2
if a == 2:
    print("True")

True

In [13]:
if a == 3:
    print("True")
else:
    print("False")

False

- integer와 float 비교

In [14]:
7 == 7.0

True

In [15]:
x = 0.5
1 == 2 * x

True

- integer와 string 비교

In [16]:
7 != "7"

True

- 대소 관계 비교

In [17]:
3 >= 2

True

In [18]:
5 < 7

True

- 비교문 내의 연산

In [19]:
if 3 * 5 == 15:
    print("3 * 5 = 15")

3 * 5 = 15

- for 문을 이용한 list element 처리

In [20]:
xlist = [1,2,3,4,5,6,7]

for element in xlist:
    if element >= 5:
        print(element)

5
6
7

- in 연산자를 이용한 비교

In [22]:
2 in xlist

True

- value를 비교할 때는 `is`를 사용하지 말 것

In [27]:
xlist

[1, 2, 3, 4, 5, 6, 7]

In [24]:
xlist[1] is 2   # 3.8 부터 warning message 추가

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\trimu\AppData\Local\Temp\ipykernel_4024\4044857180.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  xlist[1] is 2   # 3.8 부터 warning message 추가

True

In [26]:
xlist[1] is True

False

- for 문 내의 비교문

In [28]:
animals = [['dog', 'Ruby', 7], 
                 ['cat', 'Nero', 3], 
                 ['dog', 'John', 5], 
                 ['bird', 'Seagal', 2]]

- continue 문

In [34]:
for kind, name, age in animals:
    if age > 3:
        continue
    print("name = ", name)

name =  Nero
name =  Seagal

- indexing을 이용한 비교

In [35]:
if 'dog' in animals[0][0]:
    print(animals[0][1])

Ruby

In [36]:
if animals[2][1] == 'John':
    print("John's age =", animals[2][2])

John's age = 5

## 12-3. 논리연산 (Logical Operation)

    True  and True  --> True   (1 * 1 = 1)
    True  or  True  --> True   (1 + 1 = 2)
    True  and False --> False  (1 * 0 = 0)
    True  or  False --> True   (1 + 0 = 1)
    False and False --> False  (0 * 0 = 0) 
    False or  False --> False  (0 + 0 = 0)
    
    not True  --> False
    not False --> True

In [37]:
True and True

True

In [38]:
not False

True

In [39]:
not True

False

- and 연산

In [38]:
x = 20
if x > 0 and x < 10:
    print(x > 0 and x < 10)
else:
    print(x > 0 and x < 10)

False

- list indexing을 이용한 and 연산

In [39]:
seasons = ['spring','summer','autumn','winter']

if seasons[0] == 'spring' and seasons[3] != 'summer':
    print(seasons[3] != 'summer')

True

- or 연산

In [40]:
if seasons[0] == 'spring' or seasons[1] == 'year':
    print('True')

True

- and, or 연산 함께 사용

In [40]:
(((2 < 3) and (3 > 0)) or ((5 > 6) and not(4 < 2)))

True

## 연습문제

1) 다음 list 에서 10 과 30 사이의 숫자 중 홀수만 골라 출력하라.

    xlist = [-5, 5, 10, 12, 13, 14, 15, 25, 30, 40, 55, 100]
    
    (결과)  
    13  15  25

2) 파이썬 강좌의 수강생 목록은 다음과 같다. 어떤 사람이 수강생 목록에 존재하는지 check 하는 함수를 작성하라.
   목록에 존재하면 True, 존재하지 않으면 False 를 반환한다.
   
   
       학생부 : ["김철수", "홍길동", "Jone Doe", "김정은", "트럼프", "성춘향"]
       
       (ex)  
       print(check_list(students, "홍길동"))  -> True

3) 다음의 주민번호 리스트에서 남, 녀 별로 90 년생 이후 출생자를 골라내라.

In [ ]:
id_list = ['920801-1041798', '800902-2048746', 
            '971010-1023987', '871203-2014987',
            '820801-1041798', '900902-2048746', 
            '941010-1023987', '971203-2014987']

man = []
lady = []

for id in id_list:
    if id[:2] >= '90' and id[7] == '1':
        
        #--- YOUR CODE HERE--------

print('남성 =', man)
print('여성 =', lady)